body {
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Arial, Sans-serif
}

header, footer {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFAF00;
	color: white;
}

div.logo {
	height: 70px;
}
div.logo img {
	width: 150px;
}

div.main {
	padding-top: 30px;
}
